.menu
  &__body
    // @media (max-width: 768px)
    position: absolute
    top: -27px
    // top: calc(-100vh + -30px)
    right: -100vw
    width: 500px
    height: 100vh
    padding: 150px 44px 50px 44px
    background: $gradient-dark
    opacity: 0.9
    overflow: auto
    // transition: top 1s ease
    transition: right 1s ease
    border-left: 3px solid $white
    &._active
      right: 102px
      // top: -27px
  &__list
    display: flex
    flex-direction: column
    align-items: flex-start

  &__item
    position: relative
    // @include fl-all
    // flex-wrap: wrap
    font-family: 'Spectral', serif
    @include font(600, 26, 20)
    color: $text
    // text-transform: uppercase
    transition: color 0.3s ease
    &:not(:last-child)
      margin-bottom: 39px
    // нижняя линия при наведении
    &::before
      position: absolute
      content: ''
      display: block
      bottom: -6px
      width: 0%
      height: 2px
      background-color: $white
      transition: width 0.5s ease
    // &:last-child a
    //   transition: 0.3s linear
    //   margin-left: 120px
    // субменю
    // @media (any-hover: hover)
    //   &:hover
    //     .menu__sub-list
    //       visibility: visible
    //       pointer-events: auto
    //       opacity: 1
    //       transform: translate(0px, 0px)
    //     .menu__arrow
    //       transform: rotate(-180deg)
    //     .menu__arrow
    //       color: $black
    // @media (min-width: 768px)
    //   &._hover
    //     .menu__sub-list
    //       visibility: visible
    //       pointer-events: auto
    //       opacity: 1
    //       transform: translate(0px, 0px)
    //     .menu__arrow
    //       transform: rotate(-180deg)
    @media (max-width: 768px)
      margin-bottom: 40px
      font-weight: 800
      font-size: 18px
      &:not(:last-child)
        margin-right: 0
        margin-bottom: 10px

  &__icon
    display: block
    position: relative
    flex: 0 0 40px
    width: 40px
    height: 11px
    border: none
    background-color: transparent
    cursor: pointer
    outline: none
    z-index: 5
    span
      position: absolute
      top: calc( 50% - 3px )
      left: 0
      width: 30px
      height: 3px
      background-color: $white
      transition: all .7s cubic-bezier(0.76, -0.76, 0.25, 1.26)
      &:first-child
        top: 0
      &:last-child
        top: auto
        bottom: 0
        right: 0
        left: auto
    &._active
      animation: menuSpan 1s ease 0.3s forwards
      span
        transition: all 0.4s cubic-bezier(0.76, -2.76, 2.25, 1.26)
        //transform: scale(0)
        &:first-child
          top: calc( 50% - 3px )
          transform: rotate(-45deg)
        &:last-child
          top: calc( 50% - 3px )
          transform: rotate(45deg)
          left: 0
