.tab-tabara
  padding-top: 156px
  padding-bottom: 84px
  &__container
    position: relative
    &::before
      content: ''
      position: absolute
      top: -66px
      right: 44px
      width: 245px
      height: 245px
      background: url("../images/icons/sprite.svg#star-orange-big") center / cover no-repeat
      z-index: -1
    &::after
      content: ''
      position: absolute
      bottom: 158px
      left: 35px
      width: 158px
      height: 158px
      background: $red-tab
      border-radius: 50%
      filter: blur(12px)
      z-index: -2

  &__title
    max-width: 400px
    margin-bottom: 157px

  &__head

  &__subtitle
    font-weight: 700
    line-height: 1.85

  &__info
    display: flex
    flex-direction: column
    align-items: center

  &__descr
    display: flex
    column-gap: 20px
    margin-bottom: 114px
  &__text
    max-width: 295px
    flex: 1 1 50%

  &__register

