.body-tabara
  background: $bgc-tab

  .header__container-tabara
    align-items: flex-start
    // padding-right: 0
  .header__logo-tabara
    width: 230px
    height: 100px
  .header__menu-tabara
    margin-top: 15px
