.body-tabara
  background: $bgc-tab

  .header__container-tabara
    align-items: flex-start
    // padding-right: 0
  .header__logo-tabara
    width: 230px
    height: 100px
  .header__menu-tabara
    margin-top: 15px

  @media ( max-width:1280px  )
    [class*='__container']
      max-width: 1110px
  @media ( max-width:1024px  )
    [class*='__container']
      max-width: 954px
  @media (max-width: 768px)
    .header
      &__container
        display: flex
        flex-direction: column
        align-items: center
        padding-right: 20px
        padding-top: 25px
      &__logo
        text-align: center
        width: 105px
        height: 46px
        margin-bottom: 20px
    .menu__icon._active
      position: absolute
      top: 30px
      right: 40px
      transition: position 0.3s ease
      span
        transition-delay: 0.5s


// рамка вокруг фото с оранжевыми квадратами по краям
.tab__img
  border: 2px solid $white
  &::before,
  &::after
    content: ''
    position: absolute
    top: -6px
    background: url("../images/icons/sprite.svg#cube") center no-repeat
    z-index: 3
    width: 10px
    height: 10px
  &::before
    left: -6px
  &::after
    right: -6px
  &-dots
    &::before,
    &::after
      content: ''
      position: absolute
      bottom: -6px
      background: url("../images/icons/sprite.svg#cube") center no-repeat
      z-index: 3
      width: 10px
      height: 10px
    &::before
      left: -6px
    &::after
      right: -6px

