@media ( max-width:1150px )

  [class*='__container']
    padding-right: 65px
    padding-left: 65px

  .header__container
    padding-right: 130px

  .whoweare__info
    justify-content: flex-start
  .whoweare__text,
  .misiunea__item
    min-width: auto
    flex: 1 1 28.8%
    &:not(:last-child)
      margin-bottom: 40px

  .blog__media
    width: 73%
  .blog__image
    max-width: 690px
    width: 72.7%
  .blog__slide-head
    margin-bottom: 7px
  .navigation__btn
    width: 181px
    height: 69px

  .footer__data,
  .footer__data:nth-child(2),
  .footer__data:nth-child(3),
  .footer__data:last-child
    text-align: left
  .footer__data:nth-child(2)
    margin-left: 0
  .footer__data:not(:last-child)
    margin-bottom: 20px
  .footer__data
    flex: 1 1 20%

