@media ( max-width:1280px )

  // HOME
  .whoweare__container
    padding-top: 14.6%
    padding-bottom: 7%
  .whoweare__head
    margin-bottom: 15%

  .misiunea__container
    padding-top: 14%
    padding-bottom: 17%
  .misiunea__head
    padding-left: 0
    margin-bottom: 15.46%
  .misiunea__list
    justify-content: flex-start

  .blog__container
    padding-top: 14.3%
  .blog__head
    margin-bottom: 16.5%
  .blog__image
    // margin-right: 54px
  .blog__info
    margin-right: 0
    margin-top: 57px
  .blog__navigation
    top: 110px
    transform: translate(0, -47%)
    &::before
      content: none

  .services__container
    padding-top: 12%
  .services__head
    padding-left: 0
  .services__wrapper
    justify-content: flex-start
  .services__navigation
    column-gap: 103px
    margin-bottom: 38px

  // TABARA
  .tab-hero__container
    flex-direction: column
    justify-content: flex-end
    align-items: flex-start
    &::before
      left: 36%
      // transform: translateX(-50%)
  .tab-hero__date
    margin-bottom: 56px
  .tab-hero__title
    max-width: none
    margin-bottom: 30px
    align-self: center
  .tab-echipa__img
    flex: 0 1 28%
    padding-bottom: 28%
  .tab-echipa__info
    flex: 0 1 27.3%
  .tab-echipa__navigation
    flex: 0 1 23.14%

