@media ( max-width:480px )

  .blog__slide-head
    font-size: 36px

  // TABARA
  .tab-hero__title
    // margin-bottom: 100px
  .tab-echipa__info
    max-width: 85%
    margin-bottom: 20px
  .tab-echipa__img
    padding-bottom: 80%
    max-width: 80%
  .tab-echipa-next
    width: 125px
    height: 57px
