@media ( max-width:576px )

  .heading
    font-size: 50px // старое 56

  .hero__container,
  .hero__clip
    height: 700px

  .whoweare__container
    padding-top: 12.6%
    padding-bottom: 28%
  .whoweare__head
    margin-bottom: 21%

  .misiunea__container
    padding-top: 20%
  .misiunea__head
    margin-bottom: 22%
  .misiunea__item
    flex: 1 1 48%
    max-width: none
    width: 100%
    &:not(:last-child)
      margin-bottom: 80px
  .misiunea__item p
    font-size: 36px

  .blog__container
    padding-top: 20.3%
  .blog__slider
    height: 396px
  .blog__slide-head
    font-size: 36px
  .blog__head
    margin-bottom: 22.5%
  .blog__navigation
    bottom: 64px

  .services__container
    padding-top: 12%
  .services__head
    margin-bottom: 82px
  .services__title
    font-size: 48px
    width: 90%
  .services__navigation
    margin-bottom: 15px
  .services__image
    padding-bottom: 156.2%

  .footer__data
    flex: 1 1 100%
    &:not(:last-child)
      margin-bottom: 40px
