.footer
  background-color: #003851
  color: $white
  @include font(400, 16, 29)
  padding: 58px 0
  // ps
  // &__div
  //   background-color: $bgc
  //   height: 50px
  &__container

  &__info
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    column-gap: 25px

  &__data
    flex: 1 1 22%
    &:nth-child(2)
      margin-left: -26px
      text-align: center
    &:nth-child(3)
      // text-align: center

    &:last-child
      // justify-content: flex-end
      text-align: right

  &__link
    display: block

  &__social
    flex-wrap: wrap
    & .social__item
      margin-bottom: 7px
      &:first-child
        width: 100%

  a
    transition: color 0.3s ease-in
    @media (any-hover: hover)
      &:hover
        color: $green

